          <div class="container" style="height: 80vh;">
            <div class="row mt-5">
                <div class="col-sm-6 col-md-6">
                    <div class="contact-bg">
                        <h4>Send Us A Message</h4>
                        <form action="">
                            <label for="name">Name</label>
                            <input id="name" type="text" name="" id="" class="form-control">
                            <label for="email">Email</label>
                            <input id="email" type="text" name="" id="" class="form-control">
                            <label for="message">Mobile</label>
                            <textarea name="" id="message" cols="30" rows="5" class="form-control"></textarea>
                            <button class="mt-2 btn btn-primary">Send Message</button>
                        </form>
                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                        <div class="contact-bg">
                              <h4>Quick Contact</h4>
                              <div class="quick-contact-widget"> 
                                    <span><i class="fa fa-phone" aria-hidden="true"></i> (800) 123 45 67 </span>
                                    <span><i class="fa fa-envelope" aria-hidden="true"></i>info@couponsystemproject.com </span>
                                    <span><i class="fa fa-map-marker"></i> 111 King Street, Melbourne,
                                        Victoria 3000, Australia </span>
                                </div>
                            </div>
                            <div class="p-2 white-bg mt-3">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.818769912224!2d144.95394201590415!3d-37.817713742043544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd0afecff%3A0x694896761abe8b11!2s111%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sil!4v1598795422160!5m2!1sen!2sil" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                </div>
            </div>
        </div>